<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Job Board</title>
  </head>
  <body>
    <h1>Add a job listing</h1>

    <form action="/jobs" method="post">
      <label for="position">Position</label>
      <input id="position" name="position" type="text">
      <label for="description">Description</label>
      <input id="description" name="description" type="text">
      <label for="salary">Salary</label>
      <input id="salary" name="salary" type="text">
      <label for="contact">Contact</label>
      <input id="contact" name="contact" type="text">
      
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
