<!DOCTYPE html>
<html>
  <head>
    <title>Job Board</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Add a new job to the Job Board.</h1>
    <a href="/jobs/new">Add a new listing.</a><br>
    <a href="/jobs"> </a><br>
  </body>
</html>
